.circle {
  width: 400px;
  height: 400px;
  background-color: red;
  border-radius: 50%;
}

#circleBTN {
  border-radius: 7px;
  padding: 25px;
  border: 1px solid darkgray;
  font-size: 16px;
  font-weight: bold;
  margin-top: 25px;
  text-transform: uppercase;
  cursor: pointer;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
